<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{ui.user.notes}">Billboard</title>

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/billboard.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: header"/>

<div class="container">

    <div>
        <div class="page-header">
            <h1 th:text="#{ui.user.notes}">Example page header</h1>
        </div>

    </div>

    <div class="row">
        <div th:each="note : ${notes}">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail random-color">
                    <img src="..." alt="..." th:src="${note.imageUrl}"
                         style="height: 300px;width: 300px; overflow: hidden; object-fit: cover"/>
                    <div class="caption">
                        <h3 th:text="${note.name}">Thumbnail label</h3>
                        <p th:text="${note.description}">...</p>
                        <p>
                            <a class="btn btn-primary" role="button" th:href="${'/notes/' + note.id}"
                               th:text="#{ui.view}">Button</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<script type="text/javascript"
        src="/webjars/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"/>
</body>
</html>