body {
    /*background-color: #2a2627;*/

    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.page-header > h1 {
    /*color: #ffffff;*/
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    height: 100%;
    padding: 5px;
    width: auto;
}

.panel-body > .media {
    margin: 0;
}

.clickable {
    cursor: pointer;
}

.clickable .glyphicon {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.btn-form {
    margin-bottom: 10px;
}
