<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Billboard</title>

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: header"/>

<div class="container">

    <div class="page-header">
        <h1>Spring Boot Web Thymeleaf Example</h1>
    </div>

    <div class="welcome">
        <span sec:authorize="${isAuthenticated()}">Welcome <span sec:authentication="name"></span></span>
    </div>

</div>
<!-- /.container -->
<script type="text/javascript"
        src="/webjars/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>