<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login</title>

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: header"/>
<div class="container">
    <div class="row" style="margin‐top:20px">
        <div class="col‐xs‐12 col‐sm‐8 col‐md‐6 col‐sm‐offset‐2 col‐md‐offset‐3">
            <form class="form-signin" th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">Вход в систему</h2>
                <div th:if="${param.error}">
                    <p style="color: #FF0000"> Неверный логин или пароль </p>
                </div>
                <div th:if="${param.logout}">
                    <p style="color: #FF0000"> Вы вышли из системы </p>
                </div>
                <label for="username" class="sr-only">Email address</label>
                <input type="text" id="username" name="username"
                       class="form-control" placeholder="Username"
                       required="true" autofocus="true"/>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password"
                       class="form-control" placeholder="Password" required="true"/>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Запомнить</input>
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{label.form.loginLink}">Sign
                    in
                </button>
            </form>
            <form class="form-signin" action="/registration">
                <button class="btn btn-lg btn-warning btn-block" type="submit" th:text="#{label.form.registerLink}">
                    Register
                </button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript"
        src="/webjars/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"/>
</body>
</html>